body {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.tb-scores {
  margin-top: 15px;
  background-color: black;
  color: greenyellow;
  padding: 10px;
  text-align: center;
}

.tb-scores th {
  padding: 0 20px 10px;
}

.hints span {
  margin: 0 5px;
  cursor: pointer;
}

.safe-clicks {
  margin-top: 5px;
}

.smiley {
  border: 1px solid black;
  cursor: pointer;
}

.cell {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 18px;
  background-color: #9a9a9a;
}

.hidden {
  background-color: #bdbdbd;
  border: 3px outset;
}

.btns {
  margin-top: 15px;
}

.btn {
  padding: 10px 20px;
  background-color: black;
  color: greenyellow;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(36, 35, 35);
}